html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  font-family: Arial, Helvetica, sans-serif;
}

.node {
  position: absolute;
  background: #222;
  border: 1.5px solid #444;
  border-radius: 6px;
  box-shadow: 2px 2px 8px #0008;
  min-width: 120px;
  min-height: 50px;
  font-family: "Segoe UI", Arial, sans-serif;
  color: #eee;
  user-select: none;
  overflow: hidden;
}

.node-titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: #fff;
  padding: 6px 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.5px;

  cursor: move;
}

.node-status {
  min-width: 8px;
  min-height: 8px;
  border-radius: 100%;
  cursor: default;
}

.node-io-list {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 4px;
  gap: 4px;
}

.node-io-col {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.node-io {
  border-radius: 4px;
  background: #292929;
  font-size: 0.95em;
  min-width: 40px;
  text-align: left;
}

.node-input {
  color: #8cf;
  border-left: 3px solid #8cf;
}

.node-output {
  color: #fc8;
  border-right: 3px solid #fc8;
}

/* IO */
.io {
  display: grid;
  grid-template-columns: 8px 1fr 8px;
  align-items: center;
  gap: 4px;
}

.io-socket {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #666;
}

.tinygraph-context-menu {
  position: absolute;
  background: #222;
  color: #fff;
  border: 1px solid #444;
  border-radius: 6px;
  padding: 6px 0;
  display: none;
  z-index: 10000;
  min-width: 140px;
}

.node.selected {
  outline: 2px solid #ff0;
  z-index: 10;
}

.tinygraph-menu-search {
  width: calc(100% - 12px);
  margin: 0 6px 6px 6px;
  padding: 4px 8px;
  border: 1px solid #444;
  border-radius: 4px;
  background: #333;
  color: #fff;
  font-size: 14px;
}

.tinygraph-menu-entries {
  display: flex;
  flex-direction: column;
  max-height: 300px;
}

.tinygraph-context-menu {
  position: absolute;
  z-index: 100000;
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 15px;
  background: #222;
  color: #fff;
  border: 1px solid #444;
  border-radius: 6px;
  padding: 6px 0;
  min-width: 180px;
  box-shadow: 2px 2px 12px #000a;
}

.tinygraph-menu-group {
  position: relative;
  white-space: nowrap;
  padding: 6px 16px;
  cursor: pointer;
}

.tinygraph-menu-submenu {
  display: none;
  background: #222;
  border: 1px solid #444;
  border-radius: 6px;
  min-width: 160px;
  box-shadow: 2px 2px 8px #000a;
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 100%;
}

.selection-box {
  position: absolute;
  border: 2px dashed #ff0;
  background: #ffff0044;
  pointer-events: none;
  z-index: 1000;
  display: none;

  width: 0px;
  height: 0px;
}